{% extends './plantilla.html' %}
{% block contenido %}
<br>
<h1 class="text-center">Listado de Actividades</h1>
<hr>

<div class="row">
    <div class="text-end">
        <a href="/nuevaActividad" class="btn btn-info text-right">
            Agregar Actividad
        </a>
    </div>
</div>
<br>
<table class="table table-bordered table-striped table-hover" id="tbl_actividades">
    <thead>
        <tr class="bg-primary">
            <th>ID</th>
            <th>NOMBRE</th>
            <th>DESCRIPCIÓN</th>
            <th>PLAYA</th>
            <th>IMAGEN</th>
            <th>ARCHIVO (PDF)</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        {% for actividad in actividades %}
            <tr>
                <td>{{ actividad.id }}</td>
                <td>{{ actividad.nombre }}</td>
                <td>{{ actividad.descripcion }}</td>
                <td>{{ actividad.playa.nombre }}</td>
                <td>
                    {% if actividad.imagen %}
                        <img src="{{ actividad.imagen.url }}" alt="Imagen" width="100px" height="100px">
                    {% else %}
                        Ninguna
                    {% endif %}
                </td>
                <td>
                    {% if actividad.archivo %}
                        <iframe src="{{ actividad.archivo.url }}" width="350px" height="450px" style="border: none;"></iframe>
                    {% else %}
                        Ninguno
                    {% endif %}
                </td>
                <td>
                    <a href="/editarActividad/{{ actividad.id }}" class="btn btn-outline-warning">
                        <i class="fa fa-pen"></i>
                    </a>
                    <a href="/eliminarActividad/{{ actividad.id }}" class="btn btn-outline-danger">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
